@import "colors.css";

* {
    font-family: "Inter Nerd Font", "Roboto", "sans-serif";
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

window#waybar > box {
    background-color: @surface;
    border-radius: 999px;
    margin: 2px;
}

.modules-left, .modules-center, .modules-right {
    background-color: @surface_variant;
    border-radius: 999px;
    padding: 2px 12px;
    margin: 3px;
}

#workspaces button {
    padding: 0 5px;
    color: @on_surface_variant;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
    border-radius: 14px;
    min-width: 15px;
}

#custom-player, #clock, #pulseaudio, #battery, #temperature {
    padding:0 5px;
}
#tray {
    background-color: @surface_variant;
    border-radius: 999px;
    margin: 3px;
}

#tray menu {
    background-color: @surface;
}

#tray > .passive,
#tray > .active,
#tray > .needs-attention {
    margin: 0 8px;
}

#tray widget {
    margin: 0 6px;
}

#tray image {
    margin: 0 2px;
}
